@tailwind base;
@tailwind components;
@tailwind utilities;

.lw-scroll-wrap::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
}
.lw-scroll-wrap::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
.lw-scroll-wrap::-webkit-scrollbar-thumb:vertical {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.lw-scroll-wrap::-webkit-scrollbar-thumb:vertical:active {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.61);
}

@layer components {
  .btn-xxs {
    @apply h-[20px] min-h-[20px] py-[2px] px-1 text-[12px];
  }
}
