@tailwind base;
@tailwind components;
@tailwind utilities;

.lw-scroll-wrap::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
}
.lw-scroll-wrap::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.lw-scroll-wrap::-webkit-scrollbar-thumb:vertical {
  border-radius: 100px;
  background-color: #c6c6c6;
}
.lw-scroll-wrap::-webkit-scrollbar-thumb:vertical:active {
  background-color: #c9c9c9;
}
